<div class="mt-3">
    <div class="display-6">
        Formulário de Cadastro:
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form>
                <div class="row mb-3 mt-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" required> 
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" required>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputPrice" class="col-sm-2 col-form-label">Preço:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputPrice" required>
                    </div>

                    <label for="selectCategory" class="col-sm-2 col-form-label">Categoria:</label>
                    <div class="col-sm-4">
                        <select class="form-select" aria-label="Selecione uma categoria" id="selectCategory" required>
                            <option *ngFor="let c of categories">
                                {{c.name}}
                            </option>      

                        </select>
                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <label  class="col-sm-2 col-form-label">Opções:</label>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkBoxPromotion">
                            <label class="form-check-label" for="checkBoxPromotion">
                                Promoção
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkBoxNewProduct">
                            <label class="form-check-label" for="checkBoxNewProduct">
                                Lançamento
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>